<%- include('partials/head', { title: 'Cart' }) %>
<%- include('partials/header') %>
<main>
  <h2>Your Cart</h2>
  <div id="cart">
 
  </div>
</main>
<%- include('partials/footer') %>
</body>
</html>
