<%- include('partials/head', { title: 'Home' }) %>
<%- include('partials/header') %>
<main>
  <h2>Bienvenido a mi Materiales Vásquez</h2>
  <div id="products">
   
  </div>
</main>
<%- include('partials/footer') %>
</body>
</html>
