<%- include('partials/head', { title: 'Home' }) %>
<%- include('partials/header') %>
<main>
  <h2>Welcome to Our Store</h2>
  <div id="products">
    <!-- Products will be loaded here -->
  </div>
</main>
<%- include('partials/footer') %>
</body>
</html>
