<%- include('partials/head', { title: 'Product Detail' }) %>
<%- include('partials/header') %>
<main>
  <h2>Product Details</h2>
  <div id="product-detail">
  
  </div>
</main>
<%- include('partials/footer') %>
</body>
</html>
