body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}
